@import "tailwindcss";

@theme {
  --color-primary: #4b53bc;
  --color-primary-dim: #3f46af;
  --color-on-primary: #f9f6ff;
  --color-surface: #f9f9fc;
  --color-surface-container: #ebeef3;
  --color-surface-container-low: #f2f3f7;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #2d3339;
  --color-on-surface-variant: #596066;
  --color-outline-variant: #acb3b9;
  
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
}

@layer utilities {
  .glass-panel {
    background: rgba(242, 243, 247, 0.8);
    backdrop-filter: blur(16px);
  }
}
